.header {
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.mytlogo {
	display: flex;
	align-items: center;
	margin: 10px 0px;
	border: 1px solid black;
}

.mytlogo p {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: mediumaquamarine;
	padding-left: 10px;
}

.headernav {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

.headernav ul li {
	display: inline-block;
	padding: 0px 10px;
}

.maincontent {
	display: flex;
}

.column {
	display: flex;
	justify-content: center;
}

.column .large {
	display: flex;
	flex-direction: column;
	width: 630px;
	border: 1px solid black;
	margin: 0px 25px;
}

.column .medium {
	display: flex;
	flex-direction: column;
	width: 300px;
	border: 1px solid black;
	margin: 0px 25px;
}

.column .small {
	display: flex;
	flex-direction: column;
	width: 240px;
	border: 1px solid black;
	margin: 0px 25px;
}

.smalltitle {
	display: flex;
}

.smalltitle p {
	border: 1px solid black;
}

.subparagraph p {

}

.boldtitle h2 {

}

.largecontainer {
	display: flex;
	display: inline-block;
	border: 1px solid black;
}